main .post {
    margin-bottom: 1em;
}

main .post .title {
    color: var(--caption-color);
    font-weight: bold;
    font-size: 1.25rem;
}

main .post .title A {
    text-decoration: none;
    color: var(--caption-color);
}

main .post .title A:hover {
    text-decoration: underline;
    color: var(--caption-color);
}

main .post .information {
    margin-top: 0.25rem;
    font-size: 0.85rem;
    color: #888;
}

main .post .body {
    border-left: 4px solid var(--border-color);
    padding-left: 0.75rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main .post .body p:last-child {
    margin: 0;
}

main .post .attachment {
    padding: 0;
    margin: 0.5rem 0 0 0;
}

main .post .attachment li {
    list-style: none;
    padding: 0.25rem 20px;
    margin: 0;
    font-size: 0.75rem;
    color: #888;
}

main .post .footer {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    overflow: hidden;
    padding-left: 0.2rem;
    padding-top: 0.2rem;
    margin-top: 0.25rem;
    min-height: 2rem;
    font-family: Verdana, sans-serif;
    font-style: italic;
    background-color: var(--post-background-color);
}

main .post .footer .left {
    float: left;
    padding-left: 0.5rem;
}

main .post .footer .left img {
    position: relative;
    top: 5px;
}

main .post .footer .right img {
    position: relative;
    margin-left: 0.5rem;
    top: 2px;
}

main .post .footer .right {
    float: right;
    font-size: 0.85rem;
    line-height: 2rem;
    padding-right: 0.5rem;
}

main .post .footer .positive-score {
    color: green;
    font-weight: bold;
    line-height: 1.75rem;
}

/* Отправка сообщения в мессенджере */
#messageForm .field .name {
    text-align: center;
    color: var(--caption-color);
    font-weight: bold;
    font-size: 1.25rem;
}

#messageForm .field .value {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: var(--comment-background-color);
}

/* Кнопка отправки */
#messageForm .button-field input {
    /*border: 1px solid var(--border-color);*/
    /*color: var(--comment-background-color);*/
    /*border-radius: 0;*/

    width: 90px;
    text-align: center;
    display: block;
    font-family: Verdana, sans-serif;
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    border: 1px solid var(--border-color-active);
    color: var(--border-color-active);
    padding: 3px 5px;
    margin: 20px auto;
    transition: .5s;
    border-radius: 0;
}

#messageForm .button-field input:hover {
    /*color: var(--main-color);*/
    /*border: 1px solid var(--main-color);*/
    /*border-radius: var(--border-radius);*/

    top: 5px;
    transition: .5s;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: var(--border-radius);
}

#messageForm .button-field input:active {
    /*color: black;*/
    /*border: 1px solid black;*/
    /*border-radius: var(--border-radius);*/

    color: black;
    border: 1px solid black;
    transition: .07s;
    background-color: var(--comment-background-color);
}

/* Общие настройки сообщения в мессендежере */
main .comment {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    word-wrap: break-word;
    margin-bottom: 0.25rem;
    padding: 0.2rem;
    background-color: var(--comment-background-color);
}

/* Отправитель сообщения в мессенджере */
main .comment .information {
    margin-top: 0.25rem;
    margin-left: 0.25rem;
    font-size: 0.75rem;
    font-weight: bold;
    color: var(--caption-color);
}

/* Тело сообщения в мессенджере */
main .comment .body {
    margin-left: 6rem;
}

main .comment .body p:last-child {
    margin: 0;
}

.logo {
    text-align: center;
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
}

.logo a img {
    width: 1278px;
    height: auto;
    max-width: 100%;
    display: inline-block;
}
